---
Name: myemailconfig
After:
  - '#emailconfig'
---
SilverStripe\Core\Injector\Injector:
  Swift_Transport:
    class: Swift_SmtpTransport
    properties:
      Host: smtp.world4you.com
      Port: 25
    calls:
      Username: [ setUsername, ['<insert-login>'] ]
      Password: [ setPassword, ['<insert-pw>'] ]
      AuthMode: [ setAuthMode, ['login'] ]
SilverStripe\Control\Email\Email:
  admin_email: <insert-email-address>
