// main: main.less
@import "colors.less";
@import "utils.less";
@import "grid/variables.less";
@media (max-width: @small-width-max) {
    .article-list {
        .blog-article {
            flex-direction: column;
            div {
                width: 100%;
            }
            .image,
            img {
                width: inherit;
                max-height: 200px;
                overflow: hidden;
                text-align: center;
            }
        }
    }
}
@media (min-width: @medium-width) {
    .article-list {
        .blog-article {
            .image {
                width: 200px;
                margin-right: 3rem;
            }
            .text {
                // rest - img - margins
                width: ~"calc(100% - 200px - 3rem)";
            }
        }
    }
}
aside {
    article {
        border-bottom: 1px solid @bgCol;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        h4 {
            text-align: center;
        }
    }
}
.article-list {
    .blog-article {
        align-items: center;
        .image {
            background-size: cover;
        }
        clear: both;
    }
}
.blog-article {
    display: flex;
    justify-content: space-around;
    &.single {
        display: block;
    }
    margin: 3rem 0;
    h5 {
        text-align: center;
        color: lighten(@secondaryBGColor, 10);
        text-transform: uppercase;
        font-family: monospace;
        letter-spacing: .1em;
    }
    h2 {
        text-align: center;
    }
    .head {
        text-align: center;
        font-size: 14px;
        margin: 1.25em;
    }
    .read-more {
        margin: 1em .5em 0;
        font-size: 14px;
        display: block;
    }
}
.article-category-header {
    text-align: center;
    color: darken(@secondaryBGColor, 10);
}
.cat-shortcode {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-family: cursive;
    margin: 2em 0;
}
.load-more-container {
    text-align: center;
    width: ~"calc(100% - 2em)";
    margin: 1em;
    display: block;
}
