// main: main.less

@mainBGColor: #eee;
@secondaryBGColor: #334273;

@mainFontColor: #000;
@secondaryFontColor: #fff;
@mainLinkColor: @secondaryBGColor;

@footerBGColor: black;

@menuHighlightColor: #eee;

@buttonColor: #e4cd2a;
