// main: main.less
@import "utils.less";
@import "grid/variables.less";
.fullWidth() {
    width: 100%;
}
.buttonStyle() {
    padding: .5em;
    min-width: 6em;
}
.demo-div {
    position: fixed;
}
.demo-img {
    max-width: 200px;
    max-height: 200px;
}
.chosen {
    ul {
        list-style: none;
    }
    .chosen-choices {
        display: flex;
        justify-content: space-between;
        width: 11.65em;
        padding: .2em;
        margin: .24em 0;
        flex-wrap: wrap;
        border: 1px solid #aaa;
        background-color: #fff;
        background-image: linear-gradient(#eee 1%, #fff 15%);
        cursor: text;
        li {
            //flex-basis: 25%;
            flex-grow: 1;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
        }
        li:last-child {
            width: 25px;
        }
        li:not(:last-child) {
            font-size: .7em;
            height: 2em;
            margin: .25em;
            border: 1px solid lightgray;
            border-radius: 3px;
            background-color: darken(white, 10%);
            padding: 0 .3em;
            a {
                display: inline-block;
                &:hover {
                    border-radius: 3px;
                    text-decoration: none;
                    background-color: white;
                }
            }
        }
        input {
            margin: 0;
            // padding: 0;
            //height: 2em;
            outline: 0;
            border: 0 !important;
            background: transparent !important;
            box-shadow: none;
            border-radius: 0;
            width: 100% !important;
            font-size: 10pt;
            overflow: hidden;
        }
    }
    .chosen-drop {
        ul {
            // padding: .2em;
            border: 1px solid lightgray;
            background-color: darken(white, 10%);
            li {
                margin: 0;
                padding: .35em;
                background-color: darken(white, 20%);
                &.selectable {
                    background-color: darken(white, 10%);
                    &:hover {
                        cursor: pointer;
                        background-color: white;
                    }
                }
            }
        }
    }
}
textarea {
    .fullWidth();
}
.user-form-container {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
#search-agent {
    cursor: pointer;
}
.error.message,
.validationerror .message {
    border: 1px solid red;
    padding: .5em;
    background-color: white;
    border-radius: .15em;
    font-size: 9pt;
    display: inline-block;
}
.userform {
    .userform-fields {
        max-width: 520px;
    }
    .step-buttons {
        padding: 0;
    }
    .userform-progress {
        @media (max-width: @small-width-max) {
            display: none !important;
        }
        & > p {
            display: none;
        }
        .step-button-jump {
            position: inherit;
        }
        .step-button-wrapper {
            display: block;
            &.current button {
                background-color: lighten(@buttonColor, 20%);
                border-color: lighten(@buttonColor, 20%);
                cursor: default;
                &:hover {
                    border-color: lighten(@buttonColor, 20%);
                }
            }
            button:disabled {
                background-color: lightgray;
                border-color: lightgray;
                cursor: default;
            }
        }
    }
    nav {
        margin: .5em 1em;
    }
    button {
        .buttonStyle();
    }
    .field {
        .error {
            border-color: red;
        }
        .right-title {
            font-size: 9pt;
        }
        &.text,
        &.dropdown,
        &.listbox,
        &.textarea,
        &.checkbox .middleColumn,
        &.file {
            justify-content: space-between;
            align-items: baseline;
        }
        &.text,
        &.dropdown,
        &.listbox,
        &.textarea,
        &.file {
            input,
            select,
            textarea {
                .fullWidth();
            }
        }
        margin: .5em;
        label {
            font-weight: 100;
            padding-left: .3em;
            display: inline;
            text-align: left;
        }
        .checkbox label {
            display: inline;
        }
    }
    .step-navigation,
    .userform-progress {
        margin: .5em;
        .step-buttons {
            display: flex;
            justify-content: space-between;
        }
    }
    .step-button-wrapper {
        display: flex;
    }
}
input,
select,
textarea {
    padding: .4em;
    margin: .25em 0;
}
select.hidden-field {
    display: none;
}
.multi-image-select-container {
    width: 100%;

    .multi-image-select {
        width: 100%;
        position: relative;

        .selected-options {
            width: 100%;
            border: 0.1rem solid @bgCol;
            border-radius: 0.3rem;
            background: @lightBgCol;
            padding: 0.5rem 1rem;
            min-height: 4.27rem;
            display: flex;
            flex-wrap: wrap;

            & > div {
                font-size: 0.8em;
                height: 2em;
                border: 1px solid lightgray;
                border-radius: 3px;
                background-color: darken(white, 10%);
                padding: 0 0.5em;
                line-height: 2em;
                margin: 0.2em;

                .close {
                    cursor: pointer;
                    margin-left: 0.7em;

                    &:hover {
                        background-color: white;
                        border-radius: 0.3rem;
                    }
                }
            }
        }

        .options {
            width: 100%;
            max-height: 100vh;
            height: 35rem;
            overflow-y: scroll;
            position: absolute;
            background-color: white;
            padding: 5px;

            .option {
                width: 50%;
                float: left;
                overflow: hidden;
                padding: 5px;

                &.selected {
                    .selected-check {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        width: 2.1em;
                        height: 2.1em;
                        background-color: white;
                        border-radius: 2.1em;
                        transform: rotate(-45deg);

                        &::after {
                            content: "";
                            width: 1em;
                            height: 0.5em;
                            position: absolute;
                            margin-left: 50%;
                            margin-top: 50%;
                            transform: translateX(-50%) translateY(-50%);
                            border-bottom: 4px solid @bgCol;
                            border-left: 4px solid @bgCol;
                        }
                    }
                }

                .option-container {
                    height: 100%;
                    width: 100%;
                    border: 3px solid #cacce1;
                    border-radius: 0.3rem;
                    overflow: hidden;
                    position: relative;
                    cursor: pointer;

                    &:hover {
                        border-color: @bgCol;
                    }

                    .option-content {
                        height: 15rem;
                        position: relative;

                        .label {
                            width: 100%;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            height: 3.5rem;
                            background-color: @bgCol;
                            color: white;

                            p {
                                margin: 0;
                                text-align: center;
                                line-height: 3.5rem;
                            }
                        }

                        .images {
                            width: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 11.5rem;

                            &.none {
                                display: none;

                                & + .label {
                                    height: 15rem;

                                    p {
                                        line-height: 15rem;
                                    }
                                }
                            }

                            .half {
                                width: 50%;
                                height: 100%;
                                float: left;
                                overflow: hidden;
                            }

                            .third {
                                width: 33.33%;
                                height: 100%;
                                float: left;
                                overflow: hidden;
                            }

                            img {
                                border: none;
                                box-shadow: none;
                                width: auto;
                                border-radius: 0;
                                max-height: 100%;
                                display: block;
                                margin: 0 auto;
                                margin-left: 50%;
                                transform: translateX(-50%);
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: @medium-width-max) {
    .userform .field {
        margin-right: 0;
        margin-left: 0;
    }
}
@media (max-width: @medium-width-max) and (min-width: @medium-width) {
    .multi-image-select-container .multi-image-select .options .option .option-container .option-content,
    .multi-image-select-container
        .multi-image-select
        .options
        .option
        .option-container
        .option-content
        .images.none
        + .label {
        height: 24.8vw;
    }
    .multi-image-select-container
        .multi-image-select
        .options
        .option
        .option-container
        .option-content
        .images.none
        + .label
        p {
        line-height: 24.8vw;
    }
    .multi-image-select-container .multi-image-select .options .option .option-container .option-content .images {
        height: 19vw;
    }
    .multi-image-select-container .multi-image-select .options .option .option-container .option-content .label {
        height: 5.9vw;
    }
}
@media (max-width: @small-width-max) {
    .multi-image-select-container .multi-image-select .options .option {
        width: 100%;
    }
}
