@import "responsive.less";
@import "menu.less";
@import "search.less";
@import "form.less";
@import "blog.less";
@import "colors.less";

@font-face {
    font-family: "Handlee";
    src: url(../fonts/Handlee-Regular.ttf);
}
@font-face {
    font-family: "Handlee";
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url(../fonts/Handlee-Regular.eot);
    src: url(../fonts/Handlee-Regular.eot?#iefix) format("embedded-opentype"),
        url(../fonts/Handlee-Regular.woff2) format("woff2"), url(../fonts/Handlee-Regular.woff) format("woff"),
        url(../fonts/Handlee-Regular.ttf) format("truetype"), url(../fonts/Handlee-Regular.svg) format("svg");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url(../fonts/OpenSans-Regular.eot);
    src: url(../fonts/OpenSans-Regular.eot?#iefix) format("embedded-opentype"),
        url(../fonts/OpenSans-Regular.woff2) format("woff2"), url(../fonts/OpenSans-Regular.woff) format("woff"),
        url(../fonts/OpenSans-Regular.ttf) format("truetype"), url(../fonts/OpenSans-Regular.svg) format("svg");
}

* {
    box-sizing: border-box;
}

html {
    /* 1rem = 10px */
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background: linear-gradient(180deg, @lightBlue, @lightBlue, @bgCol) no-repeat @bgCol;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    text-align: justify;
    @media (max-width: @small-width-max) {
        text-align: left;
    }
}

h1,
h2,
h3,
.site-title {
    font-family: Handlee, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: rgba(255, 255, 255, .4);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    .spinner {
        display: inline-block;
        width: 80px;
        height: 80px;
        &:after {
            content: " ";
            display: block;
            width: 64px;
            height: 64px;
            margin: 8px;
            border-radius: 50%;
            border: 6px solid @bgCol;
            border-color: @bgCol transparent @bgCol transparent;
            animation: lds-dual-ring 1.2s linear infinite;
        }
        @keyframes lds-dual-ring {
            0% {
            transform: rotate(0deg);
            }
            100% {
            transform: rotate(360deg);
            }
        }
    }

}

main a,
.ui-widget .ui-widget-content a {
    color: @bgCol;
    font-weight: 700;
    text-shadow: 0.1rem 0.1rem 0.1rem @lightBgCol;
    &:hover {
        color: @lightBgCol;
        text-shadow: 0.1rem 0.1rem 0.1rem @bgCol;
    }
}

img {
    width: 20rem;
    box-shadow: 0 0 .2rem .1rem @buttonColor;
    border-radius: .3rem;
}

.components input,
.userform input,
.userform select,
.userform textarea,
.chosen-choices {
    border: 0.1rem solid @bgCol;
    border-radius: 0.3rem;
    background: @lightBgCol;
    padding: 0.5rem 1rem;
}

.components button,
.userform button,
input[type=submit],
input[type=reset],
.button {
    background: @buttonColor;
    border: 1px solid #867818;
    border-radius: 0.3rem;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-weight: 100;
    display: inline-block;
    text-shadow: unset;
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    &:hover {
        text-shadow: none;
        border-color: @buttonColor;
        color: #000;
    }
}

footer {
    color: white;
    text-align: center;
    padding: 1rem;
}

footer a {
    color: white;
}

.hidden {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.popup {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(200, 200, 200, .8);
    & > * {
        max-width: 550px;
        padding: 1em;
        border-radius: .25em;
        background-color: white;
        margin: 1em;
    }
}

.resized.type-video iframe {
    width: 100%;
    height: 100%;
}
.ss-htmleditorfield-file.embed,
.ss-htmleditorfield-file.embed iframe {
    max-width: 100%;
}
.slideshow .flexslider .slides img {
    width: auto;
    margin: 0 auto;
    max-width: 100%;
}
.ui-accordion-header {
    background-color: @bgCol;
    &.ui-state-default {
        color: #fff;
    }
}
.element.dynamic__elements__accordion__elements__elementaccordion {
    .ui-accordion-header {
        .ui-accordion-header();
    }
}

.element.dynamic__elements__image__elements__elementimage > img,
.ui-accordion-content img {
    max-width: 100%;
    width: auto;
}

.element.dynamic__elements__gallery__elements__elementphotogallery .row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    & > * {
        & * {
            width: 100%;
            height: 100%;
        }
        margin-bottom: 0 !important;
        padding: 3px;
        @media (min-width: 900px) {
            width: 25%;
        }
        @media (min-width: 700px) and (max-width: 899px) {
            width: 33%;
        }
        @media (min-width: 500px) and (max-width: 699px) {
            width: 50%;
        }
        @media (max-width: 499px) {
            width: 100%;
        }
    }
}

.back-to-top {
    background-image: url(../images/back-to-top-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #cacce1;
    border-radius: 2.7em;
    width: 2.7em;
    height: 2.7em;
    position: fixed;
    bottom: 25px;
    right: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
    display: block;
    cursor: default;
    &.revealed {
        visibility: visible;
        opacity: 1;
        cursor: pointer;
    }
}
