header.site-header {
  padding-top: 2rem;
  background-repeat: no-repeat;
  background-position: right center;
  background-color: transparent;
  background-size: cover;
  color: white;
}
.site-header-inner {
  background-repeat: no-repeat;
  background-position: top left;
  background-color: transparent;
  background-size: contain;
  max-width: 120rem;
  margin: auto;
  box-sizing: border-box;
  padding: 1rem 2rem 1rem 11rem;
  margin-left: 3rem;
  display: flex;
}
.site-title {
  color: white;
  text-decoration: none;
  text-shadow: 0.1rem 0 0.2rem black;
}
.site-subtitle {
  margin-top: 0;
  color: white;
  text-shadow: 0.1rem 0 0.2rem black;
}
main {
  display: flex;
  margin: auto;
  max-width: 120rem;
  padding: 4rem 3rem;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.7);
}
main .flexslider {
  background: inherit;
}
main .flexslider .flexslider-container {
  padding: 2.8em;
}
.site-header-inner-text {
  flex: 1;
}
.content-wrapper {
  max-width: calc(100% - 30rem);
  flex: 1;
}
aside.cta {
  width: 30rem;
  border-left: 1px solid #4e559a;
  padding-left: 3rem;
  margin-left: 3rem;
}
@media (max-width: 62rem) {
  aside.cta {
    width: auto;
    padding-left: 0;
    margin-left: 0;
    border-left: none;
    margin-top: 6rem;
    border-top: 1px solid #4e559a;
  }
  main {
    flex-direction: column;
  }
  .startpage main {
    flex-direction: column-reverse;
  }
  .content-wrapper {
    max-width: 100%;
    flex: auto;
  }
  .startpage .content-wrapper {
    border-bottom: none;
    border-top: 1px solid #4e559a;
  }
}
@media (max-width: 48rem) {
  .site-title {
    font-size: 2.1rem;
  }
  .site-header {
    padding-top: 1rem;
  }
  .site-header-inner {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 9rem;
  }
  .site-subtitle,
  .site-header nav {
    display: none;
  }
}
@media (min-width: 48.000001rem) and (max-width: 62rem) {
  .site-title {
    font-size: 3rem;
  }
  .site-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .site-header-inner {
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 16rem;
  }
}
@media (min-width: 62.000001rem) and (max-width: 70rem) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2.2rem;
  }
}
.main-menu {
  font-size: 12pt;
  padding: 0 3rem;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.5), transparent);
  margin-top: 1rem;
  vertical-align: baseline;
}
.main-menu,
.main-menu * {
  color: #fff;
}
.main-menu > .item {
  display: inline-block;
  position: relative;
  height: 100%;
  color: white;
  font-size: 1.8rem;
  padding: 1rem;
  text-transform: uppercase;
  text-shadow: 0.1rem 0.1rem 0.2rem black;
}
.main-menu > .item a {
  text-decoration: none;
  display: inline-block;
}
.main-menu .current > a {
  font-weight: 600 !important;
}
.main-menu .sub-items {
  position: absolute;
  top: 100%;
  left: 0px;
  display: none;
  z-index: 1;
  min-width: 100%;
}
.main-menu .sub-items > .item a {
  padding: 1.3rem;
  white-space: nowrap;
  color: white;
  text-shadow: none;
  font-weight: 500;
  font-size: 1.6rem;
  width: 100%;
}
.main-menu .sub-items > .item a:hover {
  background: #8b90c7;
}
@media (min-height: 300px) {
  header.sticky-nav {
    position: fixed;
    width: 100%;
    top: 0;
  }
}
#footer .main-items {
  text-align: center;
}
@media (min-width: 62.000001rem) {
  .main-menu > .item:hover {
    background: rgba(255, 255, 255, 0.5);
  }
  .main-menu > .item:hover .sub-items {
    display: block;
  }
  .main-menu > .item:hover .sub-items > .item a {
    background-color: #7a80bf;
  }
  .main-menu > .item:hover .sub-items > .item a:hover {
    background: #8b90c7;
  }
  .main-menu > .item.has-sub-items {
    display: inline-flex;
    align-items: center;
  }
  .main-menu > .item.has-sub-items:after {
    content: '';
    height: 0.5rem;
    width: 0.5rem;
    display: inline-block;
    margin-left: 1rem;
    border: solid white;
    border-width: 0 0.2rem 0.2rem 0;
    transform: rotate(45deg);
    box-shadow: 0.1rem 0.1rem 0.2rem black;
  }
}
@media (max-width: 62rem) {
  #open-mobile-menu {
    position: absolute;
    right: 15px;
    top: 13px;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  #open-mobile-menu .lines {
    position: relative;
    margin-top: 10px;
  }
  #open-mobile-menu .lines::before,
  #open-mobile-menu .lines::after {
    content: "";
    position: absolute;
    left: 0;
  }
  #open-mobile-menu .lines,
  #open-mobile-menu .lines::before,
  #open-mobile-menu .lines::after {
    height: 3px;
    width: 25px;
    border-radius: 10px;
    background-color: #fff;
  }
  #open-mobile-menu .lines::before {
    top: -9px;
  }
  #open-mobile-menu .lines::after {
    bottom: -9px;
  }
  .main-menu {
    min-height: 50px;
    padding-top: 0.5em;
    display: none;
    background-color: #334273;
    z-index: 10;
  }
  .main-menu .item {
    display: block;
    margin: 0.5em 0;
  }
  .main-menu .item .show-sub-items {
    width: 10px;
    height: 10px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    position: absolute;
    right: 1em;
    top: 0.8em;
    transform: rotate(45deg);
    cursor: pointer;
  }
  .main-menu .sub-items {
    margin-top: 0.7rem;
    position: relative;
    top: 0;
  }
  .main-menu .sub-items > .item {
    margin: 0;
  }
  .main-menu .sub-items.open {
    display: block;
  }
  .main-menu.open {
    display: block;
  }
}
.pagination {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 10pt;
}
.pagination span {
  font-weight: bolder;
}
.cat-attachments {
  float: right;
  width: 50%;
}
@media (min-width: 48rem) and (max-width: 48.000001rem) {
  .cat-attachments {
    float: none;
    width: 100%;
  }
}
.search-results {
  float: right;
  width: 70%;
  padding: 1em 0 1em 1em;
}
.search-results ul {
  list-style: none;
}
.search-results ul li {
  display: block;
  width: 100%;
  border: 1px solid #c8c8c8;
  padding: 1em;
  margin-top: -1px;
  overflow: hidden;
}
.search-results ul li .cat-summary img {
  max-width: 100%;
}
.search-results ul li .cat-summary > div {
  float: left;
  width: 70%;
}
.search-results ul li .cat-summary > div:nth-child(2) {
  float: right;
  width: 30%;
}
.search-results ul li .cat-summary > div:nth-child(2) > * {
  float: right;
}
.search-results ul li .cat-summary:after {
  content: ".";
  height: 0;
  visibility: hidden;
  clear: both;
  display: block;
}
.filter-search-form {
  float: left;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 1em 0;
  width: 30%;
}
.filter-search-form .filter-group-content-container {
  overflow: hidden;
  border: 1px solid #334273;
}
.filter-search-form .filter-group-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin: -1px;
}
.filter-search-form input[type='radio'],
.filter-search-form input[type='checkbox'] {
  display: none;
}
.filter-search-form input[type='radio'] + label,
.filter-search-form input[type='checkbox'] + label {
  border: solid #334273;
  border-width: 0 1px 1px 0;
  display: block;
  padding: 1em;
  background-color: white;
  font-size: 0.7em;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  flex-grow: 1;
}
.filter-search-form input[type='radio'] + label:hover,
.filter-search-form input[type='checkbox'] + label:hover {
  background-color: #eee;
}
.filter-search-form input[type='radio']:checked + label,
.filter-search-form input[type='checkbox']:checked + label {
  background-color: #334273;
  color: #fff;
}
.filter-search-form input[type='radio']:checked + label:hover,
.filter-search-form input[type='checkbox']:checked + label:hover {
  background-color: #6574a5;
  color: #000;
}
.filter-search-form input[type='radio'] + label:active,
.filter-search-form input[type='checkbox'] + label:active,
.filter-search-form input[type='radio']:checked + label:active,
.filter-search-form input[type='checkbox']:checked + label:active {
  background-color: #97a6d7;
}
.filter-search-form .filter-group {
  margin: 2em 0;
}
.filter-search-form .filter-group:after {
  content: ".";
  height: 0;
  visibility: hidden;
  clear: both;
  display: block;
}
.filter-search-form select {
  display: block;
  background: transparent;
  border: none;
  overflow: auto;
  -webkit-appearance: unset;
  border-image-width: 0;
}
.filter-search-form select option {
  display: block;
  float: left;
  margin: 0;
  padding: 1em;
  border-radius: 5px;
}
#search-agent {
  cursor: pointer;
}
.notification-popup-button {
  position: fixed;
  bottom: 30px;
  right: 70px;
}
.show-advanced-filters-label {
  display: none;
}
@media (max-width: 48rem) {
  .advanced-filters {
    background-color: white;
    padding: 0 2rem;
  }
  .show-advanced-filters-label {
    text-transform: uppercase;
    font-family: Handlee, sans-serif;
    display: block;
    padding: 1rem;
    cursor: pointer;
    border: 1px solid;
  }
  .show-advanced-filters-label.enabled:before {
    transform: rotate(90deg);
  }
  .show-advanced-filters-label:before {
    content: ">";
    display: inline-block;
    transition: transform 0.25s ease-in-out;
    margin: 0 1rem;
    transform: rotate(0);
  }
  .show-advanced-filters-label.enabled + .advanced-filters {
    transition: max-height 1s ease-in-out;
    max-height: 1000px;
    overflow: hidden;
  }
  .advanced-filters {
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
    max-height: 0;
    overflow: hidden;
  }
}
@media (max-width: 48rem) {
  .search-results {
    margin-top: 1rem;
    float: none;
    width: 100%;
    padding: 0;
  }
  .search-results ul {
    padding: 0;
  }
  .filter-search-form {
    padding-bottom: 1rem;
    width: 100%;
    float: none;
  }
}
.demo-div {
  position: fixed;
}
.demo-img {
  max-width: 200px;
  max-height: 200px;
}
.chosen ul {
  list-style: none;
}
.chosen .chosen-choices {
  display: flex;
  justify-content: space-between;
  width: 11.65em;
  padding: 0.2em;
  margin: 0.24em 0;
  flex-wrap: wrap;
  border: 1px solid #aaa;
  background-color: #fff;
  background-image: linear-gradient(#eee 1%, #fff 15%);
  cursor: text;
}
.chosen .chosen-choices li {
  flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.chosen .chosen-choices li:last-child {
  width: 25px;
}
.chosen .chosen-choices li:not(:last-child) {
  font-size: 0.7em;
  height: 2em;
  margin: 0.25em;
  border: 1px solid lightgray;
  border-radius: 3px;
  background-color: #e6e6e6;
  padding: 0 0.3em;
}
.chosen .chosen-choices li:not(:last-child) a {
  display: inline-block;
}
.chosen .chosen-choices li:not(:last-child) a:hover {
  border-radius: 3px;
  text-decoration: none;
  background-color: white;
}
.chosen .chosen-choices input {
  margin: 0;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  box-shadow: none;
  border-radius: 0;
  width: 100% !important;
  font-size: 10pt;
  overflow: hidden;
}
.chosen .chosen-drop ul {
  border: 1px solid lightgray;
  background-color: #e6e6e6;
}
.chosen .chosen-drop ul li {
  margin: 0;
  padding: 0.35em;
  background-color: #cccccc;
}
.chosen .chosen-drop ul li.selectable {
  background-color: #e6e6e6;
}
.chosen .chosen-drop ul li.selectable:hover {
  cursor: pointer;
  background-color: white;
}
textarea {
  width: 100%;
}
.user-form-container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
#search-agent {
  cursor: pointer;
}
.error.message,
.validationerror .message {
  border: 1px solid red;
  padding: 0.5em;
  background-color: white;
  border-radius: 0.15em;
  font-size: 9pt;
  display: inline-block;
}
.userform .userform-fields {
  max-width: 520px;
}
.userform .step-buttons {
  padding: 0;
}
@media (max-width: 48rem) {
  .userform .userform-progress {
    display: none !important;
  }
}
.userform .userform-progress > p {
  display: none;
}
.userform .userform-progress .step-button-jump {
  position: inherit;
}
.userform .userform-progress .step-button-wrapper {
  display: block;
}
.userform .userform-progress .step-button-wrapper.current button {
  background-color: #efe285;
  border-color: #efe285;
  cursor: default;
}
.userform .userform-progress .step-button-wrapper.current button:hover {
  border-color: #efe285;
}
.userform .userform-progress .step-button-wrapper button:disabled {
  background-color: lightgray;
  border-color: lightgray;
  cursor: default;
}
.userform nav {
  margin: 0.5em 1em;
}
.userform button {
  padding: 0.5em;
  min-width: 6em;
}
.userform .field {
  margin: 0.5em;
}
.userform .field .error {
  border-color: red;
}
.userform .field .right-title {
  font-size: 9pt;
}
.userform .field.text,
.userform .field.dropdown,
.userform .field.listbox,
.userform .field.textarea,
.userform .field.checkbox .middleColumn,
.userform .field.file {
  justify-content: space-between;
  align-items: baseline;
}
.userform .field.text input,
.userform .field.dropdown input,
.userform .field.listbox input,
.userform .field.textarea input,
.userform .field.file input,
.userform .field.text select,
.userform .field.dropdown select,
.userform .field.listbox select,
.userform .field.textarea select,
.userform .field.file select,
.userform .field.text textarea,
.userform .field.dropdown textarea,
.userform .field.listbox textarea,
.userform .field.textarea textarea,
.userform .field.file textarea {
  width: 100%;
}
.userform .field label {
  font-weight: 100;
  padding-left: 0.3em;
  display: inline;
  text-align: left;
}
.userform .field .checkbox label {
  display: inline;
}
.userform .step-navigation,
.userform .userform-progress {
  margin: 0.5em;
}
.userform .step-navigation .step-buttons,
.userform .userform-progress .step-buttons {
  display: flex;
  justify-content: space-between;
}
.userform .step-button-wrapper {
  display: flex;
}
input,
select,
textarea {
  padding: 0.4em;
  margin: 0.25em 0;
}
select.hidden-field {
  display: none;
}
.multi-image-select-container {
  width: 100%;
}
.multi-image-select-container .multi-image-select {
  width: 100%;
  position: relative;
}
.multi-image-select-container .multi-image-select .selected-options {
  width: 100%;
  border: 0.1rem solid #4e559a;
  border-radius: 0.3rem;
  background: rgba(255, 255, 255, 0.7);
  padding: 0.5rem 1rem;
  min-height: 4.27rem;
  display: flex;
  flex-wrap: wrap;
}
.multi-image-select-container .multi-image-select .selected-options > div {
  font-size: 0.8em;
  height: 2em;
  border: 1px solid lightgray;
  border-radius: 3px;
  background-color: #e6e6e6;
  padding: 0 0.5em;
  line-height: 2em;
  margin: 0.2em;
}
.multi-image-select-container .multi-image-select .selected-options > div .close {
  cursor: pointer;
  margin-left: 0.7em;
}
.multi-image-select-container .multi-image-select .selected-options > div .close:hover {
  background-color: white;
  border-radius: 0.3rem;
}
.multi-image-select-container .multi-image-select .options {
  width: 100%;
  max-height: 100vh;
  height: 35rem;
  overflow-y: scroll;
  position: absolute;
  background-color: white;
  padding: 5px;
  z-index: 10;
}
.multi-image-select-container .multi-image-select .options .option {
  width: 50%;
  float: left;
  overflow: hidden;
  padding: 5px;
}
.multi-image-select-container .multi-image-select .options .option.selected .selected-check {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 2.1em;
  height: 2.1em;
  background-color: white;
  border-radius: 2.1em;
  transform: rotate(-45deg);
}
.multi-image-select-container .multi-image-select .options .option.selected .selected-check::after {
  content: "";
  width: 1em;
  height: 0.5em;
  position: absolute;
  margin-left: 50%;
  margin-top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-bottom: 4px solid #4e559a;
  border-left: 4px solid #4e559a;
}
.multi-image-select-container .multi-image-select .options .option .option-container {
  height: 100%;
  width: 100%;
  border: 3px solid #cacce1;
  border-radius: 0.3rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.multi-image-select-container .multi-image-select .options .option .option-container:hover {
  border-color: #4e559a;
}
.multi-image-select-container .multi-image-select .options .option .option-container .option-content {
  height: 15rem;
  position: relative;
}
.multi-image-select-container .multi-image-select .options .option .option-container .option-content .label {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3.5rem;
  background-color: #4e559a;
  color: white;
}
.multi-image-select-container .multi-image-select .options .option .option-container .option-content .label p {
  margin: 0;
  text-align: center;
  line-height: 3.5rem;
}
.multi-image-select-container .multi-image-select .options .option .option-container .option-content .images {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 11.5rem;
}
.multi-image-select-container .multi-image-select .options .option .option-container .option-content .images.none {
  display: none;
}
.multi-image-select-container .multi-image-select .options .option .option-container .option-content .images.none + .label {
  height: 15rem;
}
.multi-image-select-container .multi-image-select .options .option .option-container .option-content .images.none + .label p {
  line-height: 15rem;
}
.multi-image-select-container .multi-image-select .options .option .option-container .option-content .images .half {
  width: 50%;
  height: 100%;
  float: left;
  overflow: hidden;
}
.multi-image-select-container .multi-image-select .options .option .option-container .option-content .images .third {
  width: 33.33%;
  height: 100%;
  float: left;
  overflow: hidden;
}
.multi-image-select-container .multi-image-select .options .option .option-container .option-content .images img {
  border: none;
  box-shadow: none;
  width: auto;
  border-radius: 0;
  max-height: 100%;
  display: block;
  margin: 0 auto;
  margin-left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 62rem) {
  .userform .field {
    margin-right: 0;
    margin-left: 0;
  }
}
@media (max-width: 62rem) and (min-width: 48.000001rem) {
  .multi-image-select-container .multi-image-select .options .option .option-container .option-content,
  .multi-image-select-container .multi-image-select .options .option .option-container .option-content .images.none + .label {
    height: 24.8vw;
  }
  .multi-image-select-container .multi-image-select .options .option .option-container .option-content .images.none + .label p {
    line-height: 24.8vw;
  }
  .multi-image-select-container .multi-image-select .options .option .option-container .option-content .images {
    height: 19vw;
  }
  .multi-image-select-container .multi-image-select .options .option .option-container .option-content .label {
    height: 5.9vw;
  }
}
@media (max-width: 48rem) {
  .multi-image-select-container .multi-image-select .options .option {
    width: 100%;
  }
}
@media (max-width: 48rem) {
  .article-list .blog-article {
    flex-direction: column;
  }
  .article-list .blog-article div {
    width: 100%;
  }
  .article-list .blog-article .image,
  .article-list .blog-article img {
    width: inherit;
    max-height: 200px;
    overflow: hidden;
    text-align: center;
  }
}
@media (min-width: 48.000001rem) {
  .article-list .blog-article .image {
    width: 200px;
    margin-right: 3rem;
  }
  .article-list .blog-article .text {
    width: calc(100% - 200px - 3rem);
  }
}
aside article {
  border-bottom: 1px solid #4e559a;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
aside article h4 {
  text-align: center;
}
.article-list .blog-article {
  align-items: center;
  clear: both;
}
.article-list .blog-article .image {
  background-size: cover;
}
.blog-article {
  display: flex;
  justify-content: space-around;
  margin: 3rem 0;
}
.blog-article.single {
  display: block;
}
.blog-article h5 {
  text-align: center;
  color: #435696;
  text-transform: uppercase;
  font-family: monospace;
  letter-spacing: 0.1em;
}
.blog-article h2 {
  text-align: center;
}
.blog-article .head {
  text-align: center;
  font-size: 14px;
  margin: 1.25em;
}
.blog-article .read-more {
  margin: 1em 0.5em 0;
  font-size: 14px;
  display: block;
}
.article-category-header {
  text-align: center;
  color: #232e50;
}
.cat-shortcode {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  font-family: cursive;
  margin: 2em 0;
}
.load-more-container {
  text-align: center;
  width: calc(100% - 2em);
  margin: 1em;
  display: block;
}
@font-face {
  font-family: "Handlee";
  src: url(../fonts/Handlee-Regular.ttf);
}
@font-face {
  font-family: "Handlee";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url(../fonts/Handlee-Regular.eot);
  src: url(../fonts/Handlee-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/Handlee-Regular.woff2) format("woff2"), url(../fonts/Handlee-Regular.woff) format("woff"), url(../fonts/Handlee-Regular.ttf) format("truetype"), url(../fonts/Handlee-Regular.svg) format("svg");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url(../fonts/OpenSans-Regular.eot);
  src: url(../fonts/OpenSans-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/OpenSans-Regular.woff2) format("woff2"), url(../fonts/OpenSans-Regular.woff) format("woff"), url(../fonts/OpenSans-Regular.ttf) format("truetype"), url(../fonts/OpenSans-Regular.svg) format("svg");
}
* {
  box-sizing: border-box;
}
html {
  /* 1rem = 10px */
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  background: linear-gradient(180deg, #7a80bf, #7a80bf, #4e559a) no-repeat #4e559a;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
}
@media (max-width: 48rem) {
  html,
  body {
    text-align: left;
  }
}
.cat-about {
  float: left;
  width: 50%;
}
@media (min-width: 48rem) and (max-width: 48.000001rem) {
  .cat-about {
    float: none;
    width: 100%;
  }
}
.cat-container {
  display: flex;
  flex-direction: row;
}
.cat-container > div {
  width: 50%;
}
@media (max-width: 48.000001rem) {
  .cat-container {
    flex-direction: column;
  }
  .cat-container > div {
    width: 100%;
  }
}
ul.cat-details {
  list-style: none;
  margin: 1em auto;
  width: 80%;
  padding: 0;
  text-align: left;
}
ul.cat-details li {
  margin: 1em 0;
  display: block;
  background: inherit;
}
ul.cat-details li span {
  display: block;
  float: left;
  padding: 0 0.1em;
  max-width: 50%;
}
ul.cat-details li span:nth-child(2) {
  float: right;
  text-align: right;
}
ul.cat-details li:after {
  content: ".";
  height: 0;
  visibility: hidden;
  clear: both;
  display: block;
}
h1,
h2,
h3,
.site-title {
  font-family: Handlee, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
}
.loader .spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loader .spinner:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #4e559a;
  border-color: #4e559a transparent #4e559a transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
main a,
.ui-widget .ui-widget-content a {
  color: #4e559a;
  font-weight: 700;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(255, 255, 255, 0.7);
}
main a:hover,
.ui-widget .ui-widget-content a:hover {
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 0.1rem 0.1rem 0.1rem #4e559a;
}
img {
  width: 20rem;
  box-shadow: 0 0 0.2rem 0.1rem #e4cd2a;
  border-radius: 0.3rem;
}
.components input,
.userform input,
.userform select,
.userform textarea,
.chosen-choices {
  border: 0.1rem solid #4e559a;
  border-radius: 0.3rem;
  background: rgba(255, 255, 255, 0.7);
  padding: 0.5rem 1rem;
}
.components button,
.userform button,
input[type=submit],
input[type=reset],
.button {
  background: #e4cd2a;
  border: 1px solid #867818;
  border-radius: 0.3rem;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-weight: 100;
  display: inline-block;
  text-shadow: unset;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
}
.components button:hover,
.userform button:hover,
input[type=submit]:hover,
input[type=reset]:hover,
.button:hover {
  text-shadow: none;
  border-color: #e4cd2a;
  color: #000;
}
footer {
  color: white;
  text-align: center;
  padding: 1rem;
}
footer a {
  color: white;
}
.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.popup {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  left: 0;
  top: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(200, 200, 200, 0.8);
}
.popup > * {
  max-width: 550px;
  padding: 1em;
  border-radius: 0.25em;
  background-color: white;
  margin: 1em;
}
.resized.type-video iframe {
  width: 100%;
  height: 100%;
}
.ss-htmleditorfield-file.embed,
.ss-htmleditorfield-file.embed iframe {
  max-width: 100%;
}
.slideshow .flexslider .slides img {
  width: auto;
  margin: 0 auto;
  max-width: 100%;
}
.ui-accordion-header {
  background-color: #4e559a;
}
.ui-accordion-header.ui-state-default {
  color: #fff;
}
.element.dynamic__elements__accordion__elements__elementaccordion .ui-accordion-header {
  background-color: #4e559a;
}
.element.dynamic__elements__accordion__elements__elementaccordion .ui-accordion-header.ui-state-default {
  color: #fff;
}
.element.dynamic__elements__image__elements__elementimage > img,
.ui-accordion-content img {
  max-width: 100%;
  width: auto;
}
.element.dynamic__elements__gallery__elements__elementphotogallery .row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.element.dynamic__elements__gallery__elements__elementphotogallery .row > * {
  margin-bottom: 0 !important;
  padding: 3px;
}
.element.dynamic__elements__gallery__elements__elementphotogallery .row > * * {
  width: 100%;
  height: 100%;
}
@media (min-width: 900px) {
  .element.dynamic__elements__gallery__elements__elementphotogallery .row > * {
    width: 25%;
  }
}
@media (min-width: 700px) and (max-width: 899px) {
  .element.dynamic__elements__gallery__elements__elementphotogallery .row > * {
    width: 33%;
  }
}
@media (min-width: 500px) and (max-width: 699px) {
  .element.dynamic__elements__gallery__elements__elementphotogallery .row > * {
    width: 50%;
  }
}
@media (max-width: 499px) {
  .element.dynamic__elements__gallery__elements__elementphotogallery .row > * {
    width: 100%;
  }
}
.back-to-top {
  background-image: url(../images/back-to-top-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #cacce1;
  border-radius: 2.7em;
  width: 2.7em;
  height: 2.7em;
  position: fixed;
  bottom: 25px;
  right: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  display: block;
  cursor: default;
}
.back-to-top.revealed {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}
