* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  scroll-behavior: smooth;
}
#footer {
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: black;
  text-transform: uppercase;
}
#footer a {
  text-decoration: none;
  font-size: 9pt;
}
#footer a:hover {
  color: #eee;
}
.collage {
  height: 204px;
  width: 100%;
  overflow: hidden;
}
.collage img {
  margin: 2px;
  float: left;
}
header a {
  text-decoration: none;
}
header a:hover {
  color: #eee;
}
.clear {
  clear: both;
}
.captionImage.left {
  float: left;
}
.captionImage.right {
  float: right;
}
.captionImage.center {
  margin: 0 auto;
}
.back-to-top {
  background-image: url(../images/back-to-top-icon.png);
  background-size: 3em;
  width: 3em;
  height: 3em;
  position: fixed;
  bottom: 1.5em;
  bottom: calc(1.5em +  40px );
  right: 1.5em;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
  display: block;
  cursor: default;
}
.back-to-top.revealed {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
p {
  margin-bottom: 7px;
}
.wrapper {
  min-height: 80vh;
  min-height: calc(100vh -  40px );
}
.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 0.5rem;
}
.container.main {
  padding-top: 30px;
}
@media (min-width: 48rem) and (max-width: 61.999rem) {
  .container {
    width: 48rem;
  }
}
@media (min-width: 62rem) and (max-width: 74.999rem) {
  .container {
    width: 62rem;
  }
}
@media (min-width: 75rem) {
  .container {
    width: 75rem;
  }
}
@media (min-width: 48rem) {
  .size-s-12 {
    width: 100%;
    float: left;
  }
}
@media (min-width: 48rem) {
  .size-s-11 {
    width: 91.66666667%;
    float: left;
  }
}
@media (min-width: 48rem) {
  .size-s-10 {
    width: 83.33333333%;
    float: left;
  }
}
@media (min-width: 48rem) {
  .size-s-9 {
    width: 75%;
    float: left;
  }
}
@media (min-width: 48rem) {
  .size-s-8 {
    width: 66.66666667%;
    float: left;
  }
}
@media (min-width: 48rem) {
  .size-s-7 {
    width: 58.33333333%;
    float: left;
  }
}
@media (min-width: 48rem) {
  .size-s-6 {
    width: 50%;
    float: left;
  }
}
@media (min-width: 48rem) {
  .size-s-5 {
    width: 41.66666667%;
    float: left;
  }
}
@media (min-width: 48rem) {
  .size-s-4 {
    width: 33.33333333%;
    float: left;
  }
}
@media (min-width: 48rem) {
  .size-s-3 {
    width: 25%;
    float: left;
  }
}
@media (min-width: 48rem) {
  .size-s-2 {
    width: 16.66666667%;
    float: left;
  }
}
@media (min-width: 48rem) {
  .size-s-1 {
    width: 8.33333333%;
    float: left;
  }
}
@media (min-width: 62rem) {
  .size-m-12 {
    width: 100%;
    float: left;
  }
}
@media (min-width: 62rem) {
  .size-m-11 {
    width: 91.66666667%;
    float: left;
  }
}
@media (min-width: 62rem) {
  .size-m-10 {
    width: 83.33333333%;
    float: left;
  }
}
@media (min-width: 62rem) {
  .size-m-9 {
    width: 75%;
    float: left;
  }
}
@media (min-width: 62rem) {
  .size-m-8 {
    width: 66.66666667%;
    float: left;
  }
}
@media (min-width: 62rem) {
  .size-m-7 {
    width: 58.33333333%;
    float: left;
  }
}
@media (min-width: 62rem) {
  .size-m-6 {
    width: 50%;
    float: left;
  }
}
@media (min-width: 62rem) {
  .size-m-5 {
    width: 41.66666667%;
    float: left;
  }
}
@media (min-width: 62rem) {
  .size-m-4 {
    width: 33.33333333%;
    float: left;
  }
}
@media (min-width: 62rem) {
  .size-m-3 {
    width: 25%;
    float: left;
  }
}
@media (min-width: 62rem) {
  .size-m-2 {
    width: 16.66666667%;
    float: left;
  }
}
@media (min-width: 62rem) {
  .size-m-1 {
    width: 8.33333333%;
    float: left;
  }
}
@media (min-width: 75rem) {
  .size-l-12 {
    width: 100%;
    float: left;
  }
}
@media (min-width: 75rem) {
  .size-l-11 {
    width: 91.66666667%;
    float: left;
  }
}
@media (min-width: 75rem) {
  .size-l-10 {
    width: 83.33333333%;
    float: left;
  }
}
@media (min-width: 75rem) {
  .size-l-9 {
    width: 75%;
    float: left;
  }
}
@media (min-width: 75rem) {
  .size-l-8 {
    width: 66.66666667%;
    float: left;
  }
}
@media (min-width: 75rem) {
  .size-l-7 {
    width: 58.33333333%;
    float: left;
  }
}
@media (min-width: 75rem) {
  .size-l-6 {
    width: 50%;
    float: left;
  }
}
@media (min-width: 75rem) {
  .size-l-5 {
    width: 41.66666667%;
    float: left;
  }
}
@media (min-width: 75rem) {
  .size-l-4 {
    width: 33.33333333%;
    float: left;
  }
}
@media (min-width: 75rem) {
  .size-l-3 {
    width: 25%;
    float: left;
  }
}
@media (min-width: 75rem) {
  .size-l-2 {
    width: 16.66666667%;
    float: left;
  }
}
@media (min-width: 75rem) {
  .size-l-1 {
    width: 8.33333333%;
    float: left;
  }
}
@media (min-width: 48rem) {
  .visible-small {
    display: inline;
  }
  .hidden-small {
    display: none;
  }
}
@media (min-width: 62rem) {
  .visible-medium {
    display: inline;
  }
  .hidden-medium {
    display: none;
  }
}
@media (min-width: 75rem) {
  .visible-large {
    display: inline;
  }
  .hidden-large {
    display: none;
  }
}
.menu {
  background-color: #334273;
  font-size: 12pt;
}
.menu,
.menu * {
  color: #fff;
}
.menu .main-items > .item {
  padding: 10px 20px;
  display: inline-block;
  position: relative;
}
.menu .main-items > .item.call-to-action {
  padding: 6px 20px;
  float: right;
}
.menu .sub-items {
  position: absolute;
  background-color: #334273;
  top: 100%;
  left: 0px;
  display: none;
  z-index: 1;
}
.menu .sub-items > .item {
  padding: 10px 20px;
}
.menu .sub-items > .item a {
  white-space: nowrap;
}
.menu .item.current {
  background-color: #435696;
}
@media (min-height: 300px) {
  header.sticky-nav {
    position: fixed;
    width: 100%;
    top: 0;
  }
}
.call-to-action {
  clear: both;
  margin: 5px;
  font-size: 10pt;
  border-radius: 5px;
  background-color: #435696;
}
.call-to-action:hover {
  background-color: #4b60a8;
}
.call-to-action:active {
  background-color: #3b4c85;
}
#footer .main-items {
  text-align: center;
}
@media (min-width: 49rem) {
  .menu .main-items > .item:hover .sub-items {
    display: block;
  }
}
@media (max-width: 48rem) {
  .menu #open-mobile-menu {
    position: absolute;
    right: 15px;
    top: 13px;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  .menu #open-mobile-menu .lines {
    position: relative;
    margin-top: 10px;
  }
  .menu #open-mobile-menu .lines::before,
  .menu #open-mobile-menu .lines::after {
    content: "";
    position: absolute;
    left: 0;
  }
  .menu #open-mobile-menu .lines,
  .menu #open-mobile-menu .lines::before,
  .menu #open-mobile-menu .lines::after {
    height: 3px;
    width: 25px;
    border-radius: 10px;
    background-color: #fff;
  }
  .menu #open-mobile-menu .lines::before {
    top: -9px;
  }
  .menu #open-mobile-menu .lines::after {
    bottom: -9px;
  }
  .menu .container {
    min-height: 50px;
  }
  .menu .container .main-items {
    padding-top: 50px;
    display: none;
    background-color: #334273;
    z-index: 10;
  }
  .menu .container .main-items .item {
    display: block;
  }
  .menu .container .main-items .item .show-sub-items {
    width: 10px;
    height: 10px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    position: absolute;
    right: 15px;
    top: 13px;
    transform: rotate(45deg);
    cursor: pointer;
  }
  .menu .container .sub-items {
    position: relative;
    top: 0;
  }
  .menu .container .sub-items.open {
    display: block;
  }
  .menu.open .container .main-items {
    display: block;
  }
}
