main {
  display: flex;
  margin: auto;
  max-width: 120rem;
  padding: 4rem 3rem;
  box-sizing: border-box;
}
.site-header-inner {
  max-width: 120rem;
  margin: auto;
  box-sizing: border-box;
  padding-left: 11rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin-left: 3rem;
  display: flex;
}
.site-header-inner-text {
  flex: 1;
}
.content-wrapper {
  flex: 1;
  padding-right: 3rem;
  margin-right: 3rem;
  border-right: 1px solid var(--bg);
}
nav.main-menu a:first-child {
  /*margin-left:3rem;*/
}
aside.cta {
  width: 30rem;
}
@media (max-width: 999px) {
  main {
    flex-direction: column;
  }
  .startpage main {
    flex-direction: column-reverse;
  }
  .content-wrapper {
    flex: auto;
    padding-right: 0;
    margin-right: 0;
    border-right: none;
    border-bottom: 1px solid var(--bg);
  }
  .startpage .content-wrapper {
    border-bottom: none;
    border-top: 1px solid var(--bg);
  }
  aside.cta {
    width: auto;
  }
  h1,
  .site-title {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2.2rem;
  }
}
@media (max-width: 799px) {
  .site-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .site-header-inner {
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 12rem;
  }
  .site-subtitle,
  .site-header nav {
    display: none;
  }
}
/*
@media(max-width: 599px) {
    .site-header-inner {
        padding-top:8rem;
        padding-bottom:0;
    }
}*/
@media (max-width: 599px) {
  .site-header {
    padding-top: 1rem;
  }
  .site-header-inner {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 6rem;
  }
  .site-title {
    font-size: 1.6rem;
  }
}
.main-menu {
  font-size: 12pt;
  padding: 0 3rem;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.5), transparent);
  margin-top: 1rem;
  vertical-align: baseline;
}
.main-menu,
.main-menu * {
  color: #fff;
}
.main-menu > .item {
  display: inline-block;
  position: relative;
  height: 100%;
  color: white;
  font-size: 1.8rem;
  padding: 1rem;
  text-transform: uppercase;
  text-shadow: 0.1rem 0.1rem 0.2rem black;
}
.main-menu > .item a {
  text-decoration: none;
  display: inline-block;
}
.main-menu > .item:hover {
  background: rgba(255, 255, 255, 0.5);
}
.main-menu .current > a {
  font-weight: 600 !important;
}
.main-menu .sub-items {
  position: absolute;
  top: 100%;
  left: 0px;
  display: none;
  z-index: 1;
  min-width: 100%;
}
.main-menu .sub-items .sub-items-wrapper {
  padding: 1rem;
  margin-top: 0.6rem;
  background-color: var(--light-blue);
}
.main-menu .sub-items .sub-items-wrapper > .item a {
  padding: 0.3rem;
  white-space: nowrap;
  color: white;
  text-shadow: none;
  font-weight: 500;
  font-size: 1.6rem;
  width: 100%;
}
.main-menu .sub-items .sub-items-wrapper > .item a:hover {
  background: rgba(255, 255, 255, 0.5);
}
@media (min-height: 300px) {
  header.sticky-nav {
    position: fixed;
    width: 100%;
    top: 0;
  }
}
#footer .main-items {
  text-align: center;
}
@media (min-width: 49rem) {
  .main-menu > .item:hover .sub-items {
    display: block;
  }
  .main-menu > .item.has-sub-items {
    display: inline-flex;
    align-items: center;
  }
  .main-menu > .item.has-sub-items:after {
    content: '';
    height: 0.5rem;
    width: 0.5rem;
    display: inline-block;
    margin-left: 1rem;
    border: solid white;
    border-width: 0 0.2rem 0.2rem 0;
    transform: rotate(45deg);
    box-shadow: 0.1rem 0.1rem 0.2rem black;
  }
}
@media (max-width: 48rem) {
  #open-mobile-menu {
    position: absolute;
    right: 15px;
    top: 13px;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  #open-mobile-menu .lines {
    position: relative;
    margin-top: 10px;
  }
  #open-mobile-menu .lines::before,
  #open-mobile-menu .lines::after {
    content: "";
    position: absolute;
    left: 0;
  }
  #open-mobile-menu .lines,
  #open-mobile-menu .lines::before,
  #open-mobile-menu .lines::after {
    height: 3px;
    width: 25px;
    border-radius: 10px;
    background-color: #fff;
  }
  #open-mobile-menu .lines::before {
    top: -9px;
  }
  #open-mobile-menu .lines::after {
    bottom: -9px;
  }
  .main-menu {
    min-height: 50px;
    padding-top: 50px;
    display: none;
    background-color: #334273;
    z-index: 10;
  }
  .main-menu .item {
    display: block;
    margin: 0.5em 0;
  }
  .main-menu .item .show-sub-items {
    width: 10px;
    height: 10px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    position: absolute;
    right: 1em;
    top: 0.8em;
    transform: rotate(45deg);
    cursor: pointer;
  }
  .main-menu .sub-items {
    position: relative;
    top: 0;
  }
  .main-menu .sub-items.open {
    display: block;
  }
  .main-menu.open {
    display: block;
  }
}
.pagination {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 10pt;
}
.pagination span {
  font-weight: bolder;
}
.cat-about {
  float: left;
  width: 50%;
}
@media (min-width: 48rem) and (max-width: 61.999rem) {
  .cat-about {
    float: none;
    width: 100%;
  }
}
.cat-attachments {
  float: right;
  width: 50%;
}
@media (min-width: 48rem) and (max-width: 61.999rem) {
  .cat-attachments {
    float: none;
    width: 100%;
  }
}
.search-results {
  float: right;
  width: 70%;
  padding: 1em 0 1em 1em;
}
.search-results ul {
  list-style: none;
  border: solid #c8c8c8;
  border-width: 0 1px 1px 0;
}
.search-results ul li {
  display: block;
  width: 100%;
  border: solid #c8c8c8;
  border-width: 1px 0 0 1px;
  padding: 1em;
  overflow: hidden;
}
.search-results ul li .cat-summary > div {
  float: left;
  width: 70%;
}
.search-results ul li .cat-summary > div:nth-child(2) {
  float: right;
  width: 30%;
}
.search-results ul li .cat-summary > div:nth-child(2) > * {
  float: right;
}
ul.cat-details {
  list-style: none;
  margin: 1em auto;
  width: 80%;
}
ul.cat-details li {
  margin: 1em 0;
  display: block;
  background: inherit;
}
ul.cat-details li span {
  display: block;
  float: left;
  padding: 0 0.1em;
  max-width: 50%;
}
ul.cat-details li span:nth-child(2) {
  float: right;
  text-align: right;
}
ul.cat-details li:after {
  content: ".";
  height: 0;
  visibility: hidden;
  clear: both;
  display: block;
}
.filter-search-form {
  float: left;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 1em 0;
  width: 30%;
}
.filter-search-form .filter-group-content-container {
  overflow: hidden;
  border: 1px solid #334273;
}
.filter-search-form .filter-group-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin: -1px;
}
.filter-search-form input[type='radio'],
.filter-search-form input[type='checkbox'] {
  display: none;
}
.filter-search-form input[type='radio'] + label,
.filter-search-form input[type='checkbox'] + label {
  border: solid #334273;
  border-width: 0 1px 1px 0;
  display: block;
  padding: 1em;
  background-color: white;
  font-size: 0.7em;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  flex-grow: 1;
}
.filter-search-form input[type='radio'] + label:hover,
.filter-search-form input[type='checkbox'] + label:hover {
  background-color: #eee;
}
.filter-search-form input[type='radio']:checked + label,
.filter-search-form input[type='checkbox']:checked + label {
  background-color: #334273;
  color: #fff;
}
.filter-search-form input[type='radio']:checked + label:hover,
.filter-search-form input[type='checkbox']:checked + label:hover {
  background-color: #6574a5;
  color: #000;
}
.filter-search-form input[type='radio'] + label:active,
.filter-search-form input[type='checkbox'] + label:active,
.filter-search-form input[type='radio']:checked + label:active,
.filter-search-form input[type='checkbox']:checked + label:active {
  background-color: #97a6d7;
}
.filter-search-form .filter-group {
  margin: 2em 0;
}
.filter-search-form .filter-group:after {
  content: ".";
  height: 0;
  visibility: hidden;
  clear: both;
  display: block;
}
.filter-search-form select {
  display: block;
  background: transparent;
  border: none;
  overflow: auto;
  -webkit-appearance: unset;
  border-image-width: 0;
}
.filter-search-form select option {
  display: block;
  float: left;
  margin: 0;
  padding: 1em;
  border-radius: 5px;
}
@font-face {
  font-family: "Handlee";
  src: url(../fonts/Handlee-Regular.ttf);
}
@font-face {
  font-family: "Handlee";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url(../fonts/Handlee-Regular.eot);
  src: url(../fonts/Handlee-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/Handlee-Regular.woff2) format("woff2"), url(../fonts/Handlee-Regular.woff) format("woff"), url(../fonts/Handlee-Regular.ttf) format("truetype"), url(../fonts/Handlee-Regular.svg) format("svg");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url(../fonts/OpenSans-Regular.eot);
  src: url(../fonts/OpenSans-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/OpenSans-Regular.woff2) format("woff2"), url(../fonts/OpenSans-Regular.woff) format("woff"), url(../fonts/OpenSans-Regular.ttf) format("truetype"), url(../fonts/OpenSans-Regular.svg) format("svg");
}
:root {
  --light-blue: #7a80bf;
  --bg: #4e559a;
  --light-bg: rgba(255, 255, 255, 0.7);
  --cta: #e4cd2a;
}
* {
  box-sizing: border-box;
}
html {
  /* 1rem = 10px */
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  /*background:var(--bg);*/
  background: linear-gradient(180deg, var(--light-blue), var(--light-blue), var(--bg)) no-repeat var(--bg);
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
}
main {
  background: var(--light-bg);
}
h1,
h2,
h3,
.site-title {
  font-family: Handlee, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
h1,
.site-title {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
main a {
  color: var(--bg);
  font-weight: 700;
  text-shadow: 0.1rem 0.1rem 0.1rem var(--light-bg);
}
a:hover {
  color: var(--light-bg);
  text-shadow: 0.1rem 0.1rem 0.1rem var(--bg);
}
img {
  width: 20rem;
  box-shadow: 0 0 0.2rem 0.1rem var(--cta);
  border-radius: 0.3rem;
}
.components input,
.userform input {
  border: 0.1rem solid var(--bg);
  border-radius: 0.3rem;
  background: var(--light-bg);
  padding: 0.5rem 1rem;
}
.components button {
  background: var(--cta);
  border: 1px solid #867818;
  border-radius: 0.3rem;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.components button:hover {
  border-color: var(--cta);
}
header.site-header {
  padding-top: 2rem;
  background: url(../images/AdobeStock_178470290_masked_2.png) no-repeat right center transparent;
  background-size: cover;
  color: white;
}
.site-header-inner {
  background: url(../images/logo.png) no-repeat top left transparent;
  background-size: contain;
}
.site-title {
  color: white;
  text-decoration: none;
  text-shadow: 0.1rem 0 0.2rem black;
}
.site-subtitle {
  margin-top: 0;
  color: white;
  text-shadow: 0.1rem 0 0.2rem black;
}
footer {
  color: white;
  text-align: center;
  padding: 1rem;
}
footer a {
  color: white;
}
.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}
.popup {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  left: 0;
  top: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(200, 200, 200, 0.8);
}
.popup > * {
  max-width: 550px;
  padding: 1em;
  border-radius: 0.25em;
  background-color: white;
  margin: 1em;
}
