// main: main.less
@import "colors.less";
@import "grid/variables.less";

.main-menu {
    background-color: @secondaryBGColor;
    font-size: 12pt;
    &, & * {
        color: @secondaryFontColor;
    }

    & > .item {
        display: inline-block;
        position: relative;
    }

    .sub-items {
        position: absolute;
        top: 100%;
        left: 0px;
        display: none;
        z-index: 1;
        background-color: @secondaryBGColor;
        padding: 0.6em;

        & > .item {
            padding: 2px 0;

            a {
                white-space: nowrap;
            }
        }
    }

    .item.current {
        // TODO: highlight somehow
        // background-color: lighten(@secondaryBGColor, 10%);
    }
}

@media (min-height: 300px) {
    header.sticky-nav {
        position: fixed;
        width: 100%;
        top: 0;
    }
}

#footer .main-items {
    text-align: center;
}

@media (min-width: (@small-width + 1)) {
    .main-menu {
        & > .item {
            &:hover .sub-items {
                display: block;
            }
        }
    }
}

@media (max-width: @small-width) {
    #open-mobile-menu {
        position: absolute;
        right: 15px;
        top: 13px;
        width: 25px;
        height: 25px;
        cursor: pointer;

        .lines {
            position: relative;
            margin-top: 10px;

            &::before, &::after {
                content: "";
                position: absolute;
                left: 0;
            }

            &, &::before, &::after {
                height: 3px;
                width: 25px;
                border-radius: 10px;
                background-color: @secondaryFontColor;
            }

            &::before {
                top: -9px;
            }

            &::after {
                bottom: -9px;
            }
        }
    }
    .main-menu {

        min-height: 50px;

        padding-top: 50px;
        display: none;
        background-color: @secondaryBGColor;
        z-index: 10;

        .item {
            display: block;
            margin: .5em 0;

            .show-sub-items {
                width: 10px;
                height: 10px;
                border-right: 2px solid @secondaryFontColor;
                border-bottom: 2px solid @secondaryFontColor;
                position: absolute;
                right: 1em;
                top: .2em;
                transform: rotate(45deg);
                cursor: pointer;
            }
        }
        .sub-items {
            position: relative;
            top: 0;

            &.open {
                display: block;
            }
        }

        &.open {
            display: block;
        }
    }
}
