// main: main.less
.pagination {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 10pt;
    span {
        font-weight: bolder;
    }
}
.cat-about {
    float: left;
    width: 50%;
    // small width
    @media (min-width: @small-width-min) and (max-width: @small-width-max) {
        float: none;
      	width: 100%;
    }
}
.cat-attachments {
    float: right;
    width: 50%;
    // small width
    @media (min-width: @small-width-min) and (max-width: @small-width-max) {
        float: none;
      	width: 100%;
    }
}
.search-results ul {
    list-style: none;
    li {
        display: block;
        width: 100%;
        height: 3em;
        border: 1px solid darken(@mainBGColor, 15);
        border-collapse: collapse;
        margin: .2em 0;
        padding: .5em;
        min-height: 100px;
        overflow: hidden;
        .cat-summary {
            & > div {
                float: left;
                width: 70%;
                &:nth-child(2) {
                    float: right;
                    width: 30%;
                    margin: -.5em;
                    & > * {
                        float: right;
                    }
                }
            }

        }
    }
}
ul.cat-details {
    list-style: none;
    margin: 1em auto;
    width: 80%;
    li {
        margin: 1em 0;
        display: block;
        background: inherit;
        span {
            display: block;
            float: left;
            padding: 0 .1em;
            &:nth-child(2) {
                float: right;
                text-align: right;
            }
            max-width: 50%;
        }
        // clearfix for height
        .heightClearfix();
    }
}
.heightClearfix() {
    &:after {
        content: ".";
        height: 0;
        visibility: hidden;
        clear: both;
        display: block;
    }
}
.filter-search-form {
    & input[type='radio'] {
        display: none;
        &+label {
            display: block;
            padding: 1em;
            float: left;
            border: 1px solid @secondaryBGColor;
            background-color: white;
            border-right: none;
            // skip heading and first radio
            &:nth-child(3) {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
            &:last-child {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                border-right: 1px solid @secondaryBGColor;
            }
        }
        &:checked+label, &:checked+label:active {
            background-color: @secondaryBGColor;
            color: @secondaryFontColor;
        }
    }
    & .filter-group {
        margin: 2em 0;
        .heightClearfix();
    }
    & select {
        display: block;
        background: transparent;
        border: none;
        overflow: auto;
        -webkit-appearance: unset;
        border-image-width: 0;
        & option {
            display: block;
            float: left;
            margin: 0;
            padding: 1em;
            border-radius: 5px;
        }
    }
}
