// main: main.less
@import "utils.less";
.pagination {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 10pt;
    span {
        font-weight: bolder;
    }
}

.cat-attachments {
    float: right;
    width: 50%;
    // small width
    @media (min-width: @small-width-max) and (max-width: @medium-width) {
        float: none;
        width: 100%;
    }
}

.search-results {
    float: right;
    width: 70%;
    padding: 1em 0 1em 1em;
    ul {
        list-style: none;
        li {
            display: block;
            width: 100%;
            border: 1px solid darken(@mainBGColor, 15);
            padding: 1em;
            // collapse those borders
            margin-top: -1px;
            overflow: hidden;
            .cat-summary {
                img {
                    max-width: 100%;
                }
                & > div {
                    float: left;
                    width: 70%;
                    &:nth-child(2) {
                        float: right;
                        width: 30%;
                        & > * {
                            float: right;
                        }
                    }
                }
                .heightClearfix();
            }
        }
    }
}

@filterBorderWidth: 1px;
.filter-search-form {
    float: left;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 1em 0;
    width: 30%;
    .filter-group-content-container {
        overflow: hidden;
        border: 1px solid @secondaryBGColor;
    }
    .filter-group-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
        margin: -1px;
    }
    input[type='radio'],
    input[type='checkbox'] {
        display: none;
        .checkbox-and-radio() {
            border: solid @secondaryBGColor;
            border-width: 0 @filterBorderWidth @filterBorderWidth 0;
            display: block;
            padding: 1em;
            background-color: white;
            font-size: .7em;
            text-transform: uppercase;
            text-align: center;
            cursor: pointer;
            flex-grow: 1;
            &:hover {
                background-color: @mainBGColor;
            }
        }
        & + label {
            .checkbox-and-radio();
        }
        &:checked + label {
            background-color: @secondaryBGColor;
            color: @secondaryFontColor;
            &:hover {
                background-color: @secondaryBGColor + 50;
                color: @mainFontColor;
            }
        }
        & + label:active,
        &:checked + label:active {
            background-color: @secondaryBGColor + 100;
        }
    }
    & .filter-group {
        margin: 2em 0;
        .heightClearfix();
    }
    & select {
        display: block;
        background: transparent;
        border: none;
        overflow: auto;
        -webkit-appearance: unset;
        border-image-width: 0;
        & option {
            display: block;
            float: left;
            margin: 0;
            padding: 1em;
            border-radius: 5px;
        }
    }
}

#search-agent {
    cursor: pointer;
}

.notification-popup-button {
    position: fixed;
    bottom: 30px;
    right: 70px;
}

.show-advanced-filters-label {
    display: none;
}

@media (max-width: @small-width-max) {
    .advanced-filters {
        background-color: white;
        padding: 0 2rem;
    }
    .show-advanced-filters-label {
        text-transform: uppercase;
        font-family: Handlee, sans-serif;
        display: block;
        padding: 1rem;
        cursor: pointer;
        border: 1px solid;
        &.enabled:before {
            transform: rotate(90deg);
        }
        &:before {
            content: ">";
            display: inline-block;
            transition: transform .25s ease-in-out;
            margin: 0 1rem;
            transform: rotate(0);
        }
        &.enabled + .advanced-filters {
            transition: max-height 1s ease-in-out;
            max-height: 1000px;
            overflow: hidden;
        }
    }
    .advanced-filters {
        transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
        max-height: 0;
        overflow: hidden;
    }
}

@media (max-width: @small-width-max) {
    .search-results {
        margin-top: 1rem;
        float: none;
        width: 100%;
        padding: 0;
        ul {
            padding: 0;
        }
    }
    .filter-search-form {
        padding-bottom: 1rem;
        width: 100%;
        float: none;
    }
}
